/* Skipnav */

a.skip-main {
  z-index: -1;
  position: absolute;
  top: auto;
  overflow: hidden;

  :focus,
  :active {
    left: auto;
    top: auto;
    width: 20%;
    height: auto;
    overflow: auto;
    padding: 0.75rem;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #085f6e;
    border: 0.1rem solid #085f6e;
    text-align: center;
    font-size: 1.5rem;
    z-index: 4;
  }
}

/* Nav Section With HERO */

#logo {
  flex: 2 1 40rem;
  font-family: $base-font;
  font-weight: 500;
}

.main-head {
  position: sticky;
  top: 0;
  background: #131c27;
  color: white;
  z-index: 3;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;

  ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: $base-font;
  }
}

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), transparent),
    url("/img/chateau-haut-koenigsbourg.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .subline {
    padding: 0.5rem;
    text-shadow: 1px 1px 1px rgba(34, 33, 33, 0.836);
  }
}
